{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who will attend the meeting?
      </h1>



        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Name
          </label>
          <input class="govuk-input" id="event-name" name="attendee-name" type="text"> <br><br>
          <label class="govuk-label" for="event-name">
            Role
          </label>
          <input class="govuk-input" id="event-name" name="attendee-role" type=""> <br><br>
          <label class="govuk-label" for="event-name">
            Telephone number
          </label>
          <input class="govuk-input" id="event-name" name="attendee-phone" type="email"> <br><br>
          <label class="govuk-label" for="event-name">
            Email address
          </label>

          <input class="govuk-input" id="event-name" name="attendee-email" type="text"> <br><br>
          <label class="govuk-label" for="event-name">
            Address
          </label>
          <input class="govuk-input" id="event-name" name="attendee-address" type="text"><br><br>
          <a href="#" id="add-attendee" class="govuk-button govuk-button--secondary">Add</a><br>
        </div>

        <div id="attendeeslist"></div>

        <a href="p8-check-answers" class="govuk-button">Save and continue</a>



    </div>
  </div>

{% endblock %}
