{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What date did the victim decline the meeting?
      </h1>

      <form class="form" action="p4-reason-declined" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Enter the date the victim declined the meeting
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="datedeclined" type="date">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
