{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit <a href="../">Dash</a>
{% endblock %}


{% block content %}
  <ul id="dashutility">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
  </ul>
  <div class="govuk-grid-row" id="dashboard-2">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Heading goes here
      </h1>

      <p>
        This is a pa§ragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>

      <p>
        Read more <a href="/path/of/page">about this topic</a>.
      </p>

    </div>
  </div>

{% endblock %}
