{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="utilitymenu">
  <div id="logindeets">
    <div class="govuk-body">Sarah Lloyd</div><div class="govuk-body"><a href="#" class="govuk-link">Logout</a></div>
  </div>
</div>
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who will attend the meeting?
      </h1>



        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Name
          </label>
          <input class="govuk-input" id="event-name" name="attendee-name" type="text"> <br><br>
          <label class="govuk-label" for="event-name">
            Role
          </label>
          <input class="govuk-input" id="event-name" name="attendee-role" type=""> <br><br>
          <label class="govuk-label" for="event-name">
            Telephone number
          </label>
          <input class="govuk-input" id="event-name" name="attendee-phone" type="email"> <br><br>
          <label class="govuk-label" for="event-name">
            Email address
          </label>

          <input class="govuk-input" id="event-name" name="attendee-email" type="text"> <br><br>
          <label class="govuk-label" for="event-name">
            Address
          </label>
          <input class="govuk-input" id="event-name" name="attendee-address" type="text"><br><br>
          <a href="#" id="add-attendee" class="govuk-button govuk-button--secondary">Add</a><br>
        </div>

        <div id="attendeeslist"></div>

        <a href="p3-adjusments" class="govuk-button">Continue</a>
        <button class="govuk-button govuk-button--secondary">Save</button>



    </div>
  </div>

{% endblock %}
