{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="utilitymenu">
  <div id="logindeets">
    <div class="govuk-body">Sarah Lloyd</div><div class="govuk-body"><a href="#" class="govuk-link">Logout</a></div>
  </div>
</div>
<a href="index" class="govuk-back-link witness-details-home">Back to search</a>
<br><br>


<main class="govuk-main-wrapper" id="wittness">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl victimname"></h1>
      <p class="govuk-caption-m">Case URN:  <span id="caseurn"></span></p>

          <strong class="govuk-tag sb-l">L - Vulnerable</strong>

          <strong class="govuk-tag sb-t">T - Intimidated</strong>

      <br><br><br><br>
      
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#personal">
              Victim details
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#overview">
              Case overview
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#cpsdetails">
              Case contacts
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#offence-trial-charge">
              Charges, counts and trials
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#contacts">
              Contact with victim
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overview">
          <h2 class="govuk-heading-l">Case overview</h2>
          <div class="top-section">
            <span class="govuk-caption-m last-synced">Last synced: <span class="govuk-!-font-weight-bold">01 August 2024</span>
          </div>
          <div class="progress-container">
            <div class="step active">
                <div class="step-title">
                    <p style="font-weight:700; margin-bottom:0px">Charge</p>
                    <p style="padding:0; margin:0">-</p>
                </div>
                <div class="indicator">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="12" x2="12" y2="7"></line>
                        <line x1="12" y1="12" x2="8" y2="12"></line>
                    </svg>
                </div>
            </div>
            <div class="step double-indicator">
                <div class="step-title">
                    <p style="margin-bottom:0px">Disclosure / First Hearing</p>
                    <p style="padding:0; margin:0">-</p>
                </div>
                <div style="display: flex;">
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                </div>
            </div>
            <div class="step double-indicator">
                <div class="step-title">
                    <p style="margin-bottom:0px">PTPH / Trial</p>
                    <p style="padding:0; margin:0">-</p>
                </div>
                <div style="display: flex;">
                    <div class="indicator"></div>
                    <div class="indicator"></div>
                </div>
            </div>
            <div class="step">
                <div class="step-title">
                    <p style="margin-bottom:0px">Sentence</p>
                    <p style="padding:0; margin:0">-</p>
                </div>
                <div class="indicator"></div>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="moj-timeline-wrapper">
              <h2 class="govuk-headng-m">Case timeline</h2>
              <div class="moj-timeline section-row">
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Date of Offences</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Sunday, November 8, 2020 2:55 PM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Investigation</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Monday, January 11, 2021 11:39 PM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Charge Decision</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Saturday, February 6, 2021 4:21 AM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">CPS Post-Charge Review and Case Preparation</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Thursday, May 27, 2021 2:07 PM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Hearing</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Tuesday, January 18, 2022 8:06 AM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Case Preparation</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Sunday, February 13, 2022 12:46 PM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Phone</h2><strong tint="GREEN" class="src__Tag-sc-10wvgvx-0 fWuXRL">Communication</strong>
                        <p class="moj-timeline__byline" style="margin-left: 0.5em;">updated by Joe Bloggs</p>
                    </div>
                    <p class="moj-timeline__date">
                        <time>Saturday, April 9, 2022 11:28 AM</time>
                    </p>
                    <div class="moj-timeline__description">
                        <p>Atrox adstringo delectus. Ancilla trans cervus candidus. Conspergo tamquam crinis labore barba.</p>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Hold Hearings</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Thursday, March 16, 2023 8:28 PM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Meeting</h2><strong tint="GREEN" class="src__Tag-sc-10wvgvx-0 fWuXRL">Communication</strong>
                        <p class="moj-timeline__byline" style="margin-left: 0.5em;">updated by Joe Bloggs</p>
                    </div>
                    <p class="moj-timeline__date">
                        <time>Wednesday, March 22, 2023 5:17 AM</time>
                    </p>
                    <div class="moj-timeline__description">
                        <p>Vulticulus causa arceo. Suggero universe celer. Sit architecto id attonbitus via.</p>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Letter</h2><strong tint="GREEN" class="src__Tag-sc-10wvgvx-0 fWuXRL">Communication</strong>
                        <p class="moj-timeline__byline" style="margin-left: 0.5em;">updated by Joe Bloggs</p>
                    </div>
                    <p class="moj-timeline__date">
                        <time>Sunday, March 26, 2023 1:58 PM</time>
                    </p>
                    <div class="moj-timeline__description">
                        <p>Demulceo deficio ipsam vorago neque summa admiratio spectaculum. Statim sonitus aperiam bardus sperno. Caries voco succurro tepesco trado quia aeger amplitudo eos atqui.</p>
                        <ul class="moj-timeline__documents">
                            <li class="moj-timeline__document-item">
                                <a class="govuk-link" href="#">
                                    <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg>letter.pdf</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Email</h2><strong tint="GREEN" class="src__Tag-sc-10wvgvx-0 fWuXRL">Communication</strong>
                        <p class="moj-timeline__byline" style="margin-left: 0.5em;">updated by Joe Bloggs</p>
                    </div>
                    <p class="moj-timeline__date">
                        <time>Monday, April 24, 2023 3:39 PM</time>
                    </p>
                    <div class="moj-timeline__description">
                        <p>Supplanto clam vehemens pectus alveus cum. Succedo conturbo quisquam cilicium creator peior ea temptatio aperte crebro. Verbera blanditiis abbas varius quia vinum trans stips supplanto nisi.</p>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Verdict</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Wednesday, November 22, 2023 11:23 AM</time>
                    </p>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Email</h2><strong tint="GREEN" class="src__Tag-sc-10wvgvx-0 fWuXRL">Communication</strong>
                        <p class="moj-timeline__byline" style="margin-left: 0.5em;">updated by Joe Bloggs</p>
                    </div>
                    <p class="moj-timeline__date">
                        <time>Monday, January 1, 2024 8:45 AM</time>
                    </p>
                    <div class="moj-timeline__description">
                        <p>Vinum similique annus aro admiratio ventito depraedor. Comptus dolor cunae antea suffoco vetus voluptatum volva adipiscor sonitus. Speculum versus utrimque beatae vomito.</p>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Sentence</h2><strong class="govuk-tag">Update</strong></div>
                    <p class="moj-timeline__date">
                        <time>Saturday, January 6, 2024 4:11 AM</time>
                    </p>
                </div>
                </div>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
              
                <div class="overview-panel">
                  <div class="overview-panel-header">Case status</div>
                  <div class="overview-panel-body">
                    28 day PCD Review<br>
                    The case is awaiting a charging decision
                  </div>
                </div>
                <div class="overview-panel">
                  <div class="overview-panel-header">Victim documents</div>
                  <div class="overview-panel-body">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Document</th>
                          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date added</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="#" class="pdf-link" download>Detailed needs assessment</a></th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">01 August 2024</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="#" class="pdf-link" download>Dash assessment</a></th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">21 July 2024</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header"><a href="#" class="pdf-link" download>Duty to meet letter</a></th>
                          <td class="govuk-table__cell govuk-table__cell--numeric">17 July 2024</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="personal">
          <div class="top-section">
            <h2 class="govuk-heading-l">Victim details</h2>
            <a href="" class="govuk-button">Edit witness details</a>
            <span class="govuk-caption-m">Edited: <span class="govuk-!-font-weight-bold">01 August 2024</span> by<span class="govuk-!-font-weight-bold">Jog Bloggs</span>    
          </div>
          <div class="govuk-grid-row table-top">
            <div class="govuk-grid-column-one-half">
              <!-- -->
              <h2 class="govuk-heading-m">Personal details</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name Preference</th>
                    <td class="govuk-table__cell victimname">Dortha Runolfsdottir</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of Birth</th>
                    <td class="govuk-table__cell">17/09/1944</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Age</th>
                    <td class="govuk-table__cell">79</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Victims address</th>
                    <td class="govuk-table__cell">
                      130 Denton Avenue,<br>
                      Banton,<br>
                      Dunbartonshire,<br>
                      Scotland,<br>
                      G65 0QR
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Power of attorney</th>
                    <td class="govuk-table__cell">Paul Smith<br>
                      130 Denton Avenue,<br>
                      Banton,<br>
                      Dunbartonshire,<br>
                      Scotland,<br>
                      G65 0QR<br>
                      (tel) +44 786958675
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Special Measures</th>
                    <td class="govuk-table__cell">Currus cuppedia cohaero. Stultus illum patior cervus. Temeritas tristis tergum aeternus degero.<br><br>
                    <button class="govuk-button govuk-button--secondary">View MG2 special measures</button>
                    </td>
                  </tr>              
                </tbody>
              </table>
              <!-- -->
            </div>
            <div class="govuk-grid-column-one-half">
              <!-- -->
              <h2 class="govuk-heading-m">Contact preferences</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Preference method of contact</th>
                    <td class="govuk-table__cell">Letter</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Mobile</th>
                    <td class="govuk-table__cell">+44 7044234787</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Landline</th>
                    <td class="govuk-table__cell">+44 1926963051</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Email</th>
                    <td class="govuk-table__cell"> <a href="mailto:a.abaya@cps.gov.uk"></a></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Preferred contact times</th>
                    <td class="govuk-table__cell">
                      9am -12pm <br>
                      1pm - 5pm <br>
                      Not Mondays
                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Contact Preference</th>
                    <td class="govuk-table__cell">Telephone</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Mobile</th>
                    <td class="govuk-table__cell">+44 7044234787</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Landline</th>
                    <td class="govuk-table__cell">+44 1926963051</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Email</th>
                    <td class="govuk-table__cell">Dortha.Runolfsdottir6@hotmail.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Preferred language</th>
                    <td class="govuk-table__cell">English</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">SCN / reasonable adjustments</th>
                    <td class="govuk-table__cell">
                      None<br><br>
                      <button class="govuk-button govuk-button--secondary">View needs assessment</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- -->
            </div>
          </div>          
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="cpsdetails">
          <div class="top-section">
            <h2 class="govuk-heading-l">Case contacts</h2>
            <a href="" class="govuk-button">Edit CPS details</a>
            <span class="govuk-caption-m">Edited: <span class="govuk-!-font-weight-bold">01 August 2024</span> by<span class="govuk-!-font-weight-bold">Jog Bloggs</span>    
          </div>
          <div class="govuk-grid-row table-top govuk-grid-column-full">
  
          <table class="govuk-table govuk-grid-column-two-thirds">
            <caption class="govuk-table__caption govuk-table__caption--m">CPS contacts</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Role</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Email address</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Telephone number</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Address</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">ISVA name</th>
                <td class="govuk-table__cell">Aaliyah Abaya</td>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">a.abaya@cps.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell">    
                  PO BOX 3245<br>
                  Bristol<br>
                  BS2 2EH<br>
                  England<br></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">IDVA</th>
                <td class="govuk-table__cell">Michael Collins</td>
                <td class="govuk-table__cell"><a href="mailto:a.abaya@cps.gov.uk">m.collins@cps.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell">PO BOX 3245<br>
                  Bristol<br>
                  BS2 2EH<br>
                  England<br></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Paralegal</th>
                <td class="govuk-table__cell">Michael Collins</td>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">@cwp.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell">
                  PO BOX 3245<br>
                  Bristol<br>
                  BS2 2EH<br>
                  England<br></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">VLO</th>
                <td class="govuk-table__cell">Michael Collins</td>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">@cwp.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell">        
                  PO BOX 3245<br>
                  Bristol<br>
                  BS2 2EH<br>
                  England<br></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Prosecutor</th>
                <td class="govuk-table__cell">Michael Collins</td>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">@cwp.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell">        PO BOX 3245<br>
                  Bristol<br>
                  BS2 2EH<br>
                  England<br></td>
              </tr>
            </tbody>
          </table>
          <table class="govuk-table govuk-grid-column-two-thirds">
            <caption class="govuk-table__caption govuk-table__caption--m">Police officer in charge</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Collar number</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Email address</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Telephone number</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Police number</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">PC Jane Fisher</th>
                <td class="govuk-table__cell">689694324</td>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">jane.fisher@swp.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-button govuk-button--secondary">View police notes</a></td>
              </tr>
            </tbody>
          </table>


          <table class="govuk-table govuk-grid-column-two-thirds">
            <caption class="govuk-table__caption govuk-table__caption--m">Witness care officer</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Email address</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Telephone number</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Witness care notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Ade Obayemi</th>
                <td class="govuk-table__cell"><a href="mailto:a.obayemi@swp.gov.uk">a.obayemi@swp.gov.uk</a></td>
                <td class="govuk-table__cell">+44 1792354647</td>
                <td class="govuk-table__cell"><a href="#" class="govuk-button govuk-button--secondary">View victim care notes</a></td>
              </tr>
            </tbody>
          </table>
              <button class="govuk-button">Add another</button>
          </div>
        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="offence-trial-charge">

          <div class="top-section">
            <h2 class="govuk-heading-l">Charges, counts and trials</h2> 
            <strong class="govuk-tag govuk-tag--red">
              Trial date not set
            </strong>
          </div>
          <br><br>
          <div class="count-wrapper">
            <div class="charges-top">
              <h3 class="govuk-heading-m"><stong>Charge 1: </stong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              <strong class="govuk-tag govuk-tag--blue">
                Magistrate
              </strong>
            </div>
            <div class="charges-body">
              <table class="govuk-table" id="offencetable">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"">Counts</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter""></th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"">Plea</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"">Charging decision</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">c1</th>
                    <td class="govuk-table__cell">Battery / common assault</td>
                    <td class="govuk-table__cell">No plea </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Pending response 
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">c2</th>
                    <td class="govuk-table__cell">Unlawful wounding/inflicting grievous bodily harm</th>
                    <td class="govuk-table__cell">No plea </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Pending response 
                      </strong>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">c3</th>
                    <td class="govuk-table__cell">Wounding/causing grievous bodily harm with intent</td>
                    <td class="govuk-table__cell">No plea </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        Pending response 
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <table class="govuk-table" id="offencetable">
            <caption class="govuk-table__caption govuk-table__caption--m">Trial details</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third""></th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third""></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Trail date</th>
                <td class="govuk-table__cell">Not set</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Trail location</th>
                <td class="govuk-table__cell">Not set</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">The Plea and Trial Preparation Hearing</th>
                <td class="govuk-table__cell">Wounding/causing grievous bodily harm with intent</td>
      
              </tr>
            </tbody>
          </table>
    
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contacts">
          <h2 class="govuk-heading-l">Contact with victim</h2>
    
          <article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
              <h2 class="govuk-heading-m">A decision to charge has been made</h2>
              <p class="govuk-body">A decision toi charge has now been made and the victim can be notified. <a href="#offence-trial-charge">The charges can be viewed here</a>.</p>
              <a href="meeting-outcome/" class="govuk-button">Arrange a meeting with the victim</a>
            </section>   
          </article>   
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                  <h2 class="govuk-heading-m">Victim meeting details</h2>
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Victim response
                      </dt>
                      <dd class="govuk-summary-list__value">
                       Accepted
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Eligible to meet
                      </dt>
                      <dd class="govuk-summary-list__value">
                       Yes
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="new-contact/p2-eligible-to-meet">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Meeting offered
                      </dt>
                      <dd class="govuk-summary-list__value">
                        20 August 2024. Sent by letter
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date of meeting
                      </dt>
                      <dd class="govuk-summary-list__value">
                        03 September 2024
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Location
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Shrewsbury Police Station <br>
                        <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              View details
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            Police station details</div>
                        </details>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                       Attendess
                      </dt>
                      <dd class="govuk-summary-list__value">
                        List of attendees
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                      </dd>
                    </div>
      
                  </dl>
               </div>
            </div>     
        </div>
      </div>

    </div>
  </div>
</main>


{% endblock %}
