{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="utilitymenu">
  <div id="logindeets">
    <div class="govuk-body">Sarah Lloyd</div><div class="govuk-body"><a href="#" class="govuk-link">Logout</a></div>
  </div>
</div>
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Where will the meeting take place?
      </h1>

      <form class="form" action="p7-invitees" method="post">

        <input class="govuk-input govuk-input--width-20" id="stations" name="" type="text"><br><br>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
