{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third hide">  
      <ul id="timeline-dtm">
        <li>
          <div class="bluedisc"></div><a href="p1-add-police-contact">Add police contact details</a>
        </li>
        <li>
          <div class="bluedisc"></div><a href="p2-pmoc">Victims preferred method of contact</a>
        </li>
        <li>
          <div class="bluedisc"></div><a href="p3-populate-letter">Create duty to meet letter</a>
        </li>
        <li>
          <div class="bluedisc bluediscdone"></div><a href="p3-populate-letter">Send the letter</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload duty to meet offer letter</h1>
      <form class="form" action="p4-send-to-police" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            Upload a file
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        <button class="govuk-button govuk-button--secondary">Save</button>
      </form>

    </div>
  </div>

{% endblock %}
