{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third hide">  
      <ul id="timeline-dtm">
        <li>
          <div class="bluedisc"></div><a href="p1-add-police-contact">Add police contact details</a>
        </li>
        <li>
          <div class="bluedisc"></div><a href="p2-pmoc">Victims preferred method of contact</a>
        </li>
        <li>
          <div class="bluedisc"></div><a href="p3-populate-letter">Create duty to meet letter</a>
        </li>
        <li>
          <div class="bluedisc"></div><a href="p3-populate-letter">Send the letter</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../witness#contacts" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                How will the letter be sent to the victim?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="senttovictim" type="radio" value="Letter">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Post
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="senttovictim" type="radio" value="Letter">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Letter - hand delivered
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="senttovictim" type="radio" value="Email">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Email
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        <button class="govuk-button govuk-button--secondary">Save</button>
      </form>

    </div>
  </div>

{% endblock %}
